<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<style>
    body {
        background-color: rgb(88, 151, 223);
        color: rgb(232, 248, 7);
    }

    #btn {
        background-color: rgb(245, 225, 4);
        color: rgb(68, 11, 224);
        border-radius: 40%;
        padding: 10px;
    }

    #btn:hover {
        background-color: rgb(245, 4, 233);
    }

    .reg {
        width: 150px;
        background-color: rgb(21, 5, 253);
        border-radius: 3%;
    }

    .reg:hover {
        background-color: darkmagenta;
    }

    a {
        margin-left: 10px;
        background-color: rgb(232, 248, 7);
    }

    p {
        margin-left: 11px;
    }
</style>

<body>

    <form action="/log" method="post">
        <label>Email <input type="email" name="email"></label>
        <label>Password <input type="password" name="pass"></label>
        <input type="submit" value="send" id="btn">
    </form>
    <footer>
        <div class="reg">
            <p>Join to our Team</p>
            <a href="/registration">GO to Registration</a>
        </div>
    </footer>

</body>

</html>