<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
</head>
<style>
    body {
        background-color: rgb(88, 151, 223);
        color: cornsilk;
    }
</style>

<body>
    <form action="/reg" method="post">Registration
        <label>Name <input type="text" name="name" title="What's your name?"></label>
        <label>Email <input type="email" name="email" title="Enter Your correct email"></label>
        <label>Password <input type="password" name="pass" title="Create Your Password"></label>
        <label>Age <input type="number" name="age" title="How old are You?"></label>
        <input type="submit" value="send">
    </form>
</body>

</html>